*.out
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.lo
*.la

*~
*.swp
*.swo
*.tmp
*.log

.vscode/
*.code-workspace

.idea/
cmake-build-*/

*.depend
*.layout

*.vcxproj*
*.sln
*.user
*.filters
*.db
*.opendb
*.idb
*.pdb
ipch/

.DS_Store
Thumbs.db

build/
bin/
obj/
out/
temp/

/data/users.txt
/data/parcels.txt
